
 

<mat-sidenav-container class="side-menu-ex">
  <mat-sidenav class="matSideNav" mode="side" #sidenav [opened]="screenWidth > 840" [mode]="(screenWidth > 840) ? 'side' : 'over'">
   
  
  <!-- [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')"> -->

   <mat-list class="sideMenuBG">
      <mat-list-item class="logo" (click)="home()">
      <span>
          <img src="../assets/icon.png" height="45" alt="">
      
      </span>
      <span>
          <h3 class="logo-header" matLine>secuur<b>.co</b></h3>
      </span>
     
    </mat-list-item>
  <hr>
   
       <mat-list-item role="button" (click)="addjob()">
         <h3 matLine>New Booking</h3>
      </mat-list-item>
      <mat-list-item role="button" (click)="payments()">
          <h3 matLine>Payments</h3>
        </mat-list-item>
       <mat-list-item role="button" (click)="settings()">
        <h3 matLine>Settings</h3>
      </mat-list-item>
  </mat-list>

  </mat-sidenav>
  <mat-sidenav-content>

     
      <mat-toolbar >  
        
         <span>
            <a role="button" (click)="sidenav.toggle()"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
         </span>
          <span>
              <h1 matLine>Assign to Job</h1>
          </span>
              <span class="space"></span>
              
                <span>
              
                    <button mat-button (click)="logout()"><mat-icon>account_box</mat-icon>Logout</button>
              
              </span>
         
        </mat-toolbar>

<div class="noJobsMessage" *ngIf="emptyJobs">
       <h1>You have no Employees</h1>
</div>

<div  *ngIf="!emptyJobs">



 <div  class="jobContainer">
   
  

     
    <mat-table #table [dataSource]="dataSourceAssigned" matSort>
    
      <ng-container matColumnDef="name">
           <mat-header-cell  *matHeaderCellDef mat-sort-header> Assigned Employee </mat-header-cell>
           <mat-cell role="button" class="address" *matCellDef="let element" (click)="employee(element)">
            <img class="img-circle"  src="{{element.profile_pic}}" > 
            </mat-cell>
        </ng-container>

   
         <ng-container matColumnDef="id">
          <mat-header-cell  *matHeaderCellDef mat-sort-header>  </mat-header-cell>
          <mat-cell class="guards-mat-cell" role="button" *matCellDef="let element" >  <button (click)="remove(element.id)" style="background:#9c2828;color:#ffffff;" mat-raised-button>Remove</button></mat-cell>
       </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell  *matHeaderCellDef mat-sort-header>  </mat-header-cell>
            <mat-cell class="status-cell" role="button" *matCellDef="let element" (click)="employee(element)"> {{element.first_name}} {{element.last_name}}</mat-cell>
         </ng-container>

         <!-- <ng-container matColumnDef="details">
            <mat-header-cell class="header-cell" *matHeaderCellDef>  </mat-header-cell>
            <mat-cell class="guards-mat-cell" role="button" *matCellDef="let element" routerLink="/bookedjob-detail/{{element.id}}">  <button color="primary" mat-raised-button>Details</button> </mat-cell>
         </ng-container> -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-table #table [dataSource]="dataSourceAvailable" matSort>
          
      <ng-container matColumnDef="name">
           <mat-header-cell  *matHeaderCellDef mat-sort-header> Available Employee </mat-header-cell>
           <mat-cell role="button" class="address" *matCellDef="let element" (click)="employee(element)">
            <img class="img-circle"  src="{{element.profile_pic}}"> 
            </mat-cell>
        </ng-container>

   
         <ng-container matColumnDef="id">
          <mat-header-cell  *matHeaderCellDef mat-sort-header>  </mat-header-cell>
          <mat-cell class="guards-mat-cell" role="button" *matCellDef="let element" >  <button (click)="assign(element.id)" color="primary" mat-raised-button>Assign</button></mat-cell>
       </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell  *matHeaderCellDef mat-sort-header>  </mat-header-cell>
            <mat-cell class="status-cell" role="button" *matCellDef="let element" (click)="employee(element)"> {{element.first_name}} {{element.last_name}}</mat-cell>
         </ng-container>

         <!-- <ng-container matColumnDef="details">
            <mat-header-cell class="header-cell" *matHeaderCellDef>  </mat-header-cell>
            <mat-cell class="guards-mat-cell" role="button" *matCellDef="let element" routerLink="/bookedjob-detail/{{element.id}}">  <button color="primary" mat-raised-button>Details</button> </mat-cell>
         </ng-container> -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
 
 
</div>

</div>


<div class="footer">Copyright © 2018 Secuur.co. All rights reserved.</div>

 </mat-sidenav-content>

</mat-sidenav-container>
