.space {
  
  flex: 1 1 auto;
}

.sideMenuBG {
  background-color: #0F0F0F;
}

.sideMenuBG mat-list-item {
    border-style: none;
    /* //border-color: #808080;
    //border-width: 0.5px; */
    background-color: #0F0F0F;
    font-family: Nunito, sans-serif;
    font-weight: lighter;
}

.TopBar{
  background-color: #333;
  font-family: Nunito, sans-serif;
  font-weight: lighter;
  color: #FFF;
}

.sideMenuBG mat-list-item a {
   color: #FFF;
   text-decoration: none;
   margin-left: 15px;
   border-style: none;
   border: 0;
}




.sideMenuBG h3  {
 color: #FFFFFF;
}
.sideMenuBG mat-list-item:hover {
  background-color: #424242;
}
.side-menu-ex {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.matSideNav {
width: 200px;
background-color: #0F0F0F;
}

.footer{
  font-size:13px;
  color:black;
  text-align: center;
  margin-bottom:10px;
  font-weight: 600;
}

h1 {
 color: #000000;
 font-family: Nunito, sans-serif;
 /* text-align: right; */
 margin-left: 35px;
 font-size: 25px;
 /* font-weight: bold; */
}


.logo{
  margin-top:5%;
}
.logo-header{
  margin-left:10px;
  margin-top:10px;
  opacity:0.5;
}


label {
 font-family: Nunito, sans-serif;
 font-size: 20px;
 color: #808080;
}

form.checkout {
  max-width: 500px;
  /* //margin: 2rem auto; */
  margin: 0px auto;
  text-align: center;
  /* //border: 2px solid #eee;
  //border-radius: 8px; */
  padding: 50px;
  background: #f8f8f8;
  font-family: Nunito, sans-serif;
  color: red;
  font-size: 20px;
  margin-top: 10%;
}

form.checkout input {
 font-size: 50px;
 color: #0099ff;
}

form.checkout button {
  padding: 0.5rem 1rem;
  color: white;
  background: #0099ff;
  border: none;
  width: 35%;
  height: 10%;
  border-radius: 4px;
  margin-top: 20px;
  font-size: 18px;
  font-family: Nunito, sans-serif;
}

form.checkout button:active {
  background: rgb(165, 76, 43);
}


#card-info {
 padding: 30px;
 height: 50px;

}
