.space {
  
   flex: 1 1 auto;
 }

 .TopBar{
  height:65px;
 
 }

 .chat-list mat-list-item  {
  margin-top:5%;
  height: auto;
}
.blue600{
color: #4286F4;
}
.chat-wrapper{
  height: 70vh;
  overflow: auto;
}

 .sideMenuBG {
   background-color: #0F0F0F;
 }
 
 .sideMenuBG mat-list-item {
     border-style: none;
     background-color: #0F0F0F;
     font-family: Nunito, sans-serif;
     font-weight: lighter;
 }
 
 
 
 .sideMenuBG mat-list-item a {
    color: #FFF;
    text-decoration: none;
    margin-left: 15px;
    border-style: none;
    border: 0;
 }
 
 
 
 
 .sideMenuBG h3  {
  color: #FFFFFF;
 }
 .sideMenuBG mat-list-item:hover {
   background-color: #424242;
 }
 .side-menu-ex {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
 }
 .matSideNavContent {
  /* overflow: hidden; */
  background-color: #0F0F0F;
  }
 .matSideNav {
 width: 200px;
 background-color: #0F0F0F;
 }
 h1 {
  color: #000000;
  font-family: Nunito, sans-serif;
  /* text-align: right; */
  margin-left: 35px;
  font-size: 25px;
  /* font-weight: bold; */
 }

 
 
 .value-grid{
  background-color: #E7E7E7;
  font-size: 15px;
  color: #5F5F5F;
  padding:10px;
 }
 .logo{
  margin-top:5%;
}
 
 .logo-header{
   margin-left:10px;
   margin-top:10px;
   opacity:0.5;
 }

 .name {
  margin: 1em 1em 0 1em;
}

 .img-circle {
  object-fit: cover;
  width:30px;
  height:30px;
  margin-right:5px;
  border-radius: 50%;
}

.back-panel{
  background:rgba(200,200,200);
  height: 80px;
  
}
.left-flow{
  position: absolute;
  /* left:75%; */
  /* padding-top:10px; */
  width:340px;
  top:65px;
  background:rgba(0,0,0,0.7);
  height: 92vh;
  overflow: auto;
  z-index: 100;
  color:white;
  text-align: left;
}

.fab-menu{
 margin-top:10px;
 margin-left:70%;
  position: absolute;
  z-index: 100;
}

.guard-list{
  margin-top:90px;
  position: absolute;
  z-index: 200;
  height: 70%;
  width:100%;
  border-radius: 10px;
  background: rgba(34,34,34,0.7);
    overflow-y: scroll;
    text-align: center;
}

.header-flow{
  /* background: rgba(0,0,0,0.1); */
  padding-left:10px;
  font-size: 21px;
  color: #ACCEFF;
  margin-left:0px;
}
.content-flow{
  font-size: 17px;
  color: #FFFFFF;
  padding-left:10px;
  margin-left:0px;
}

#map {
  height: 90%;
  margin-top: 0px;
  width:100%;
}


.jobDetailsTable{
  margin: 0 auto;
  margin-top: 50px;
  width: 90%;
}


 
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.bookedjob-detail {
  margin: 0px auto;
  list-style-type: none;
  padding: 0;
  width: 50em;
  margin-top: 75px;
}
a{
  color:white;
}

.bookedjob-detail li {
  cursor: pointer;
  position: relative;
  left: 0;
  color: #0066ff;
  font-family: Georgia;
  font-size: 35px;
  background-color: #F2F2F2;
  margin: .5em;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
  height: 8em;
  border-radius: 5px;
  font-weight: bold;
}

.bookedjob-detail li h3 {
 color: #333333;
}

.bookedjobs li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.bookedjobs li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.bookedjobs .text {
  position: relative;
  top: -3px;
}
.bookedjobs .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.cancel-job{
  background-color: #DC4E41;
  color:#ffffff;
  width: 100%;
}


  .chat-date {
    display: block;
    font-size: 10px;
    font-style: italic;
    color: #fff;
    text-shadow: 0px -1px 0px #222, 0px 1px 0px #aaa;
    height: 15px;
    left: 10%;
    right:10%;
  }
  .chat-content-center {
    padding: 5px 10px;
    background-color: #e1e1f7;
    border-radius: 6px;
    font-size: 12px;
    color: #555;
   /* // height: 20px; */
    left: 10%;
    right:10%;
  }



@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.last{
animation-name: fadein;
animation-duration: 1s;
}

.fullimage{
z-index: 100;
width:100%;
height: 100%;
object-fit: contain;
position: absolute;
animation-name: fadein;
animation-duration: 0.5s;
background: rgba(0,0,0,0.6);
}
.chat-message {

  width: 70%;
}
  /* //min-height: 20px; */
  .right-bubble {
      position: relative;
      background: #4286F4;
      border-top-left-radius: .4em;
    border-bottom-left-radius: .4em;
    border-bottom-right-radius: .4em;
    padding: 5px 10px 5px;
    left: 25%;
    right:0;
  }
    span.msg-name-right {
      font-size: 14px;
      font-weight: bold;
      color:#f4f4f4;
    }
    span.msg-date-right {
      font-size: 12px;
      color:#f4f4f4;
    }
    .image-right{
      min-width: 100%;
      height: auto;
    }
    p.msg-text-right{
      padding-top:2%;
      font-size: 15px;
      color:#f4f4f4;
    }
  

  .right-bubble:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 0;
      height: 0;
      border: 27px solid transparent;
      border-left-color:#4286F4;
      border-right: 0;
      border-top: 0;
     
      margin-right: -27px;
  }
  .left-bubble {
      position: relative;
      background: #ffffff;
    border-top-right-radius: .4em;
    border-bottom-left-radius: .4em;
    border-bottom-right-radius: .4em;
    padding: 5px 10px 10px;
    left: 5%;
  }
    span.msg-name-left {
      font-size: 14px;
      font-weight: bold;
      color: #4286F4;
    }
    span.msg-date-left {
      font-size: 12px;
      color:#151515;
    }
    .image-left{
     width:100%;
      height: 200px;
      object-fit: cover;
    }
    p.msg-text-left{
      padding-top:3%;
      font-size: 15px;
      color:#151515;
    }
  

  .left-bubble:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      border: 27px solid transparent;
      border-right-color: #ffffff;
      border-left: 0;
      border-top: 0;
      margin-left: -27px;
  }

  .send-text{
    
    color:black;
    width: 100%;
    padding:5px;
    margin-left:2px;
    background-color: white;
  }
  
  .fullimage{
    z-index: 100;
    width:100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    animation-name: fadein;
    animation-duration: 0.5s;
    background: rgba(0,0,0,0.6);
  }
  
  .time {
    margin-top:10%;
    font-size: 14px;
    font-weight: 800;
    
  }
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ADADAD; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff; 
}
/deep/ .mat-tab-label{
  font-size:15px;
  color: white;
  background: rgba(0, 0, 0, .4);
  }
  