.mat-header-cell{
 
  color: #808080;
  font-size:16px;
  font-family: Nunito;
  align-content: center;
  margin-left:1%;
  text-align: center;
 }
 
 .noJobsMessage  {
   margin: 0 auto;
   text-align: center;
   width: 300px;
   margin-top: 100px;
 }
 
 .noJobsMessage h1 {
   color:red;
   margin: 0 auto;
   font-size: 25px;
   font-family: Garamond;
 }
 
 .startTime-mat-cell {
  /* text-align: center; */
  font-size: 12px;
  font-family: Nunito, Georgia, sans-serif;
 }
 
 .guards-mat-cell {
  /* text-align: center; */
  font-size: 12px;
  font-family: Nunito, Georgia, sans-serif;
  width:40%;
 }
 .pic{
  
  width:50px;
 }
 .address{
 /* font-weight : bold; */
 text-align: left;
 font-family: Nunito,Georgia, sans-serif;
 font-size: 14px;
 vertical-align:middle;
 /* color: #3399ff; */
 padding: 8px; 
 
 }
 
 .matDates{
  width: 100px;
  margin: 0 auto;
 }
 
 .jobContainer {
   display: flex;
   flex-direction: column;
   /* //max-height: 50%; */
   min-width: 300px;
   
   border-radius: 0px;
   /* padding: 20px; */
   width: 90%;
   margin: 0 auto;
   /* margin-top: 50px; */
 }
 .space {
  
   flex: 1 1 auto;
 }
 
 .sideMenuBG {
   background-color: #0F0F0F;
 }
 
 .sideMenuBG mat-list-item {
     border-style: none;
     /* //border-color: #808080;
     //border-width: 0.5px; */
     background-color: #0F0F0F;
     font-family: Nunito, sans-serif;
     font-weight: lighter;
 }
 
 .TopBar{
   background-color: #333;
   font-family: Nunito, sans-serif;
   font-weight: lighter;
   color: #FFF;
 }
 
 .sideMenuBG mat-list-item a {
    color: #FFF;
    text-decoration: none;
    margin-left: 15px;
    border-style: none;
    border: 0;
 }
 
 
 @keyframes fadein {
   0% {background-color: #FFF;}
   50% {background-color:  #FFDADA;}
   100%{background-color: #FFF;}
 }
 
 .sideMenuBG h3  {
  color: #FFFFFF;
 }
 .sideMenuBG mat-list-item:hover {
   background-color: #424242;
 }
 .side-menu-ex {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
 }
 
 .matSideNav {
 width: 200px;
 background-color: #0F0F0F;
 }
 
 
 h1 {
  color: #000000;
  font-family: Nunito, sans-serif;
  /* text-align: right; */
  margin-left: 35px;
  font-size: 25px;
  /* font-weight: bold; */
 }
 
 
 .logo{
   margin-top:5%;
 }
 .logo-header{
   margin-left:10px;
   margin-top:10px;
   opacity:0.5;
 }
 
 .status-cell{
     margin-left:10px;
 }
 
 
 
 .loadingIcon {
  margin: 0px auto;
 }
 
 
 .footer{
   font-size:11px;
   color:rgb(139, 139, 139);
   text-align: center;
   margin-top:50px;
   font-weight: 600;
   width:100%;
   margin-bottom:10px;
 }
 
 .dates {
   text-align: center;
   margin: 0px auto;
   margin-bottom: 25px;
   padding: 20;
   height: 50px;
   width: 50emi;
   margin-top: 50px;
 }

 .img-circle {
  object-fit: cover;
  width:50px;
  height:50px;
  border-radius: 50%;
  border: solid 1px #555;
  vertical-align:middle;
  margin-right:5px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, .8);
  -moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, .8);
  -o-box-shadow: 2px 3px 4px rgba(0, 0, 0, .8);
}
 
 